In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from statsmodels.formula.api import ols
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from functions import model as m
import scipy.stats as stats
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

In [2]:
white = pd.read_csv('wines/WineQuality-WhiteWine.csv')
white.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [3]:
red = pd.read_csv('wines/WineQuality-RedWine.csv')
red.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [4]:
white['white'] = 1
white['red'] = 0
red['white'] = 0
red['red'] = 1

In [5]:
df = pd.concat([white, red], ignore_index = True)
df.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,white,red
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,1,0
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,1,0
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,1,0
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,1,0
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,1,0

In [6]:
df.drop(columns =['red'], inplace=True)
df

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,white
0,7.0,0.270,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6,1
1,6.3,0.300,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6,1
2,8.1,0.280,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6,1
3,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6,1
4,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,0
6493,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,0
6494,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,0
6495,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,0
6496,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6,0

In [7]:
y = df[['quality']]
x = df.drop(['quality'], axis=1)
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=16)

In [8]:
import statsmodels.api as sm

In [9]:
poisson = sm.GLM(y_train, x_train, family = sm.families.Poisson()).fit()

In [10]:
poisson.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                quality   No. Observations:                 5197
Model:                            GLM   Df Residuals:                     5185
Model Family:                 Poisson   Df Model:                           11
Link Function:                    log   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -9642.0
Date:                Wed, 20 Apr 2022   Deviance:                       486.63
Time:                        16:38:14   Pearson chi2:                     481.
No. Iterations:                     4
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------------
fixed_acidity           -0.0009      0.007     -0.133      0.894      -0.014       0.012
volatile_acidity        -0.2828      0.052     -5.452      0.000      -0.384      -0.181
citric_acid             -0.0140      0.050     -0.278      0.781      -0.113       0.085
residual_sugar           0.0036      0.001      2.398      0.016       0.001       0.007
chlorides               -0.1726      0.220     -0.784      0.433      -0.604       0.259
free_sulfur_dioxide      0.0008      0.000      1.754      0.079   -9.81e-05       0.002
total_sulfur_dioxide    -0.0003      0.000     -1.502      0.133      -0.001    9.35e-05
density                  1.2041      0.196      6.152      0.000       0.820       1.588
pH                       0.0112      0.045      0.247      0.805      -0.078       0.100
sulphates                0.0971      0.046      2.101      0.036       0.006       0.188
alcohol                  0.0568      0.006     10.039      0.000       0.046       0.068
white                   -0.0224      0.030     -0.753      0.451      -0.081       0.036
========================================================================================
"""

In [16]:
y_hat_train = poisson.predict(x_train)
y_hat_test = poisson.predict(x_test)
train_mse = mean_squared_error(y_train, y_hat_train)
test_mse = mean_squared_error(y_test, y_hat_test)
print('Train Root Mean Square Error:', train_mse**0.5)
print('Test Root Mean Square Error:', test_mse**0.5)

Train Root Mean Square Error: 0.7351691373202124
Test Root Mean Square Error: 0.7384017370381502

In [17]:
y_hat_train

4652    5.289405
1664    5.538005
820     6.398474
4397    5.858912
2301    5.700820
          ...
4548    5.842774
635     6.203147
1345    6.344098
581     5.584334
2169    5.600147
Length: 5197, dtype: float64

In [20]:
train_prediction = poisson.get_prediction(x_train)
train_prediction.summary_frame()

          mean   mean_se  mean_ci_lower  mean_ci_upper
4652  5.289405  0.111851       5.074661       5.513235
1664  5.538005  0.103532       5.338757       5.744688
820   6.398474  0.105327       6.195332       6.608276
4397  5.858912  0.081973       5.700430       6.021800
2301  5.700820  0.107450       5.494064       5.915356
...        ...       ...            ...            ...
4548  5.842774  0.113431       5.624629       6.069379
635   6.203147  0.096381       6.017092       6.394955
1345  6.344098  0.112428       6.127527       6.568323
581   5.584334  0.087426       5.415585       5.758342
2169  5.600147  0.102008       5.403742       5.803691

[5197 rows x 4 columns]

In [21]:
test_pred = poisson.get_prediction(x_test)
test_pred.summary_frame()

          mean   mean_se  mean_ci_lower  mean_ci_upper
4378  5.187470  0.111403       4.973656       5.410475
5607  5.837574  0.105483       5.634449       6.048020
3378  6.581295  0.105503       6.377728       6.791359
3792  6.141574  0.095226       5.957742       6.331078
3046  6.553126  0.091455       6.376307       6.734848
...        ...       ...            ...            ...
4495  6.233607  0.118169       6.006249       6.469571
6274  4.815801  0.118179       4.589657       5.053088
2383  6.164461  0.082575       6.004724       6.328447
2579  5.272913  0.166085       4.957236       5.608692
5066  5.391209  0.087732       5.221971       5.565931

[1300 rows x 4 columns]

In [41]:
test_pred = poisson.get_prediction(x_test)
frame = test_pred.summary_frame(alpha = 0.05)
# frame['obs_ci_lower']
frame

          mean   mean_se  mean_ci_lower  mean_ci_upper
4378  5.187470  0.111403       4.973656       5.410475
5607  5.837574  0.105483       5.634449       6.048020
3378  6.581295  0.105503       6.377728       6.791359
3792  6.141574  0.095226       5.957742       6.331078
3046  6.553126  0.091455       6.376307       6.734848
...        ...       ...            ...            ...
4495  6.233607  0.118169       6.006249       6.469571
6274  4.815801  0.118179       4.589657       5.053088
2383  6.164461  0.082575       6.004724       6.328447
2579  5.272913  0.166085       4.957236       5.608692
5066  5.391209  0.087732       5.221971       5.565931

[1300 rows x 4 columns]

In [42]:
poisson.PredictionResults

AttributeError: 'GLMResults' object has no attribute 'PredictionResults'

In [31]:
#bootstrapping prediction interval
preds = []
n = x_train.shape[0]
nbootstrap = int(np.sqrt(n))

for i in range(nbootstrap):
    train_idx = np.random.choice(range(n), size = n, replace = True)
#     val_idx = np.array([idx for idx in range(n) if idx not in train_idx])
    model = sm.GLM(y_train[train_idx, :], x_train[train_idx, :], family = sm.families.Poisson()).fit()
    pred = model.predict(x_test[train_idx, :])
    preds.append(pred)
    
print(f'mean prediction: {np.mean(preds)}')
print(f'')

72